<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WCAG Accessibility Scanner</title>
    </head>
    <body>
        <h1>Website Accessibility Scanner</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Check URL</button>
        </form>

        {% if results %}
            <!-- <h2>Results:</h2>
            {% if results.error %}
                <p style="color: red;">{{ results.error }}</p>
            {% else %}
                <ul>
                    {% for issue in results %}
                        <li>{{ issue }}</li>
                    {% endfor %}
                </ul>
            {% endif %} -->
            <h2><a href="http://127.0.0.1:8000/dashboard/">View Results Dashboard</a></h2>
        {% endif %}
    </body>
</html>