<!-- scanner/templates/scanner/dashboard.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility Dashboard</title>
    <link rel="stylesheet" href="{% static 'scanner/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        {% if request.user.is_authenticated %}
            <div style="color: rgb(14, 59, 156); margin: 10px">Currently logged in as: {{ request.user.username | title }}</div>
            <a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to log out?')">Logout</a>
            <a href="{% url 'check_url' %}">Check URL</a>
            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    <h1>Accessibility Dashboard for {{ url }}</h1>
    <div class="dashboard-container">
        <div class="tile success-tile">
            <h2>Successes</h2>
            <p>Total: {{ success_count }}</p>
            <p>Successes are elements that have been checked and not triggered any validation issues</p>
        </div>
        <div class="tile failure-tile">
            <h2>Failures</h2>
            <p>Total: {{ failure_count }}</p>
            <p>Example: {{ failure_example }}</p>
        </div>
        <div class="tile warning-tile">
            <h2>Warnings</h2>
            <p>Total: {{ warning_count }}</p>
            <p>Example: {{ warning_example }}</p>
        </div>
        <div class="tile skipped-tile">
            <h2>Skipped</h2>
            <p>Total: {{ skipped_count }}</p>
            <p>Example: {{ skipped_example }}</p>
        </div>
    </div>
    <div class="serif-result">
        <h3>Font Style Result</h3>
        <h4>{{ serif_font_check }}</h4>
    </div>
</body>
<footer> <!-- Download link for the JSON file -->
    <a href="{% url 'download_json' %}" class="btn btn-primary">Download Results as JSON</a></footer>
</html>
